
###> lib folder ###
.lib
/.lib/*
###< lib folder ###

###> Documentation ###
.Documentation
/.Documentation/*
###< Documentation ###

###> log ###
.log
/.log/*
###< log ###

###> print ###
.print
/.print/*
###< print ###
/build/
/dist/